.color{
border: solid 1px black;
display: inline-block


}

#black{
    background-color: black;
}

#cor1{
    background-color: grey;
}

#cor2{
    background-color: red;
}

#cor3{
    background-color: blue;
}